/***

====================================================================
    Clients Section
====================================================================

***/

.clients-section {
  position: relative;
  padding: 100px 0 100px;
  @include media-breakpoint-down(lg) {
    padding: 50px 0 50px;
  }
}

// Client Block
.client-block {
  .inner-box {
    &:hover {
      .image-box {
        .image {
          img {
            opacity: 1;
            @include transition(all 300ms ease);
          }
        }
      }
    }
    .image-box {
      .image {
        text-align: center;
        margin: 0;
        display: flex;
        justify-content: center;
        img {
          opacity: 0.6;
          width: auto;
        }
      }
    }
  }
}

/***

====================================================================
    Clients Section Two
====================================================================

***/

.clients-section-two {
  position: relative;
  padding: 100px 0 100px;
  z-index: 3;
}
