/*** 

====================================================================
    Services Section
====================================================================

***/

.services-section {
  position: relative;
  padding: 0 0 55px;
  z-index: 2;
  @include media-breakpoint-down(md) {
    padding: 0;
  }
  .auto-container {
    padding: 0;
    @include media-breakpoint-down(lg) {
      padding: 0px 15px;
    }
  }
  .bg {
    background-size: auto;
    background-position: -7% -24%;
  }
  .outer-box {
    background-color: var(--theme-color-light);
    margin-top: -115px;
    padding: 110px 67px 0;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-down(xl) {
      padding: 110px 15px 0;
      margin-top: 0;
    }
    .bg-two {
      position: absolute;
      right: -22.7%;
      top: 7px;
      height: 507px;
      width: 987px;
      background-repeat: no-repeat;
    }
  }
}

.service-block {
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  .inner-box {
    border: 1px solid var(--theme-color1);
    position: relative;
    padding: 17px 23px 36px;
    @include transition(all 300ms ease);
    &:after {
      background-image: url(../images/icons/pattern1-2.png);
      background-size: cover;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 70%;
      width: 100%;
      opacity: 0;
      @include transition(all 300ms ease);
    }
    &:hover {
      border-color: var(--theme-color2);
      &:after {
        height: 100%;
        opacity: 1;
        z-index: -1;
      }
      .image-box {
        .image {
          img {
            transform: scale(1.15);
          }
        }
      }
      .content-box {
        .title {
          color: var(--theme-color-light);
          &:hover {
            color: var(--theme-color1);
          }
        }
        .text {
          color: var(--theme-color-light);
        }
        .service-list {
          li {
            color: var(--theme-color-light);
          }
        }
      }
    }

    .image-box {
      .image {
        position: relative;
        margin-bottom: 30px;
        overflow: hidden;
        img {
          position: relative;
          width: 100%;
          @include transition(all 400ms ease);
        }
      }
    }

    .content-box {
      .info-box {
        position: relative;
        margin-bottom: 17px;
      }
      .title {
        position: relative;
        font-weight: 700;
        margin-bottom: 15px;
        letter-spacing: -0.01em;
        z-index: 2;
        @include transition(all 300ms ease);
        &:hover {
          color: var(--theme-color1);
        }
      }
      .text {
        font-size: 14px;
        line-height: 25px;
        @include transition(all 300ms ease);
      }
      .service-list {
        position: relative;
        li {
          align-items: center;
          color: var(--headings-color);
          display: flex;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 7px;
          @include transition(all 300ms ease);
          &:last-child {
            margin-bottom: 0;
          }
        }
        .icon {
          font-size: 20px;
          margin-right: 15px;
        }
      }
    }
  }
}

/*** 

====================================================================
    Services Section Two
====================================================================

***/

.services-section-two {
  position: relative;
  background-color: var(--theme-color2);
  padding: 120px 0;
  z-index: 2;
  .bg {
    width: 635px;
    @include media-breakpoint-down(xxl) {
      display: none;
    }
    &:before {
      content: '';
      @include overlay;
      background-color: var(--theme-color1);
      opacity: 0.8;
    }
  }
  .owl-carousel {
    .owl-dots {
      position: relative;
      margin-top: 25px;
    }
  }
}

.service-block-two {
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  .inner-box {
    position: relative;
    background-color: var(--theme-color-light);
    @include transition(all 300ms ease);
    &:hover {
      .image-box {
        .image {
          img {
            transform: scale(1.1);
            opacity: 0.9;
          }
        }
        .read-more {
          color: var(--theme-color-light);
          background: var(--theme-color-dark);
          &:before {
            height: 100%;
          }
        }
      }
      .content-box {
        .icon {
          color: var(--theme-color1);
          background-color: var(--theme-color-light);
        }
      }
    }

    .image-box {
      .image {
        position: relative;
        margin-bottom: 0;
        overflow: hidden;
        img {
          position: relative;
          @include transition(all 300ms ease);
        }
      }
    }

    .content-box {
      position: relative;
      background-color: var(--theme-color-light);
      padding: 0 21px 18px;
      .inner {
        position: relative;
        display: inline-block;
        border-top: 4px solid var(--theme-color1);
        margin-top: -56px;
        padding: 90px 15px 30px 20px;
        background-color: #f3f4f7;
      }
      &::before {
        content: '';
        position: absolute;
        top: -20px;
        right: 65px;
        width: 44px;
        height: 64px;
        background-image: url(../images/icons/icon-arrow.png);
        z-index: 3;
        pointer-events: none;
      }
      .icon {
        position: absolute;
        top: -22px;
        left: 18px;
        height: 87px;
        width: 90px;
        line-height: 87px;
        font-size: 50px;
        @include flex-center;
        color: var(--theme-color-light);
        background-color: var(--theme-color1);
        @include transition(all 300ms ease);
        z-index: 2;
      }
      .title {
        position: relative;
        margin-bottom: 5px;
        z-index: 2;
        &:hover {
          color: var(--theme-color1);
        }
      }
      .text {
        font-size: 14px;
        line-height: 1.8em;
      }
      .theme-btn {
        background-color: var(--theme-color-dark);
        width: 100%;
        font-size: 12px;
        padding: 10px 20px;
        color: var(--theme-color-light);
        i {
          position: relative;
          color: var(--theme-color1);
          transform: rotate(-45deg);
          @include transition(all 300ms ease);
        }
        &:hover {
          i {
            color: var(--theme-color-light);
          }
        }
      }
    }
  }
}

/*** 

====================================================================
    Services Section Three
====================================================================

***/

.services-section-three {
  position: relative;
  padding: 120px 0 75px;
  .sec-title-outer {
    position: relative;
    .icon-plane-7 {
      position: absolute;
      top: 0;
      right: 85px;
    }
  }

  .image-column {
    .inner-column {
      position: relative;
      padding: 67px;
      overflow: hidden;
      @include media-breakpoint-down(sm) {
        padding: 20px;
      }
      .bg {
        position: absolute;
        width: 99%;
        height: 294px;
        background-repeat: no-repeat;
        z-index: -1;
      }
      .overlay-5 {
        position: absolute;
        top: 0;
        left: 0;
        @include media-breakpoint-down(xxl) {
          width: 100%;
          background-size: cover;
        }
      }
      .content {
        position: relative;
        z-index: 3;
        .sub-title,
        .title {
          color: var(--theme-color-light);
        }
        .sub-title {
          font-size: 14px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
        }
        .title {
          font-size: 30px;
          @include media-breakpoint-down(sm) {
            font-size: 20px;
            margin-top: 10px;
            br {
              display: none;
            }
          }
        }
        .info-btn {
          padding-left: 55px;
          i {
            position: absolute;
            top: 18px;
            left: 0;
            text-align: center;
            font-size: 38px;
            color: var(--theme-color1);
          }
          small {
            color: var(--theme-color-light);
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 0;
          }
          strong {
            color: var(--theme-color-light);
            font-size: 16px;
          }
        }
      }
    }
  }
}

.service-block-three {
  margin-bottom: 45px;
  .inner-box {
    position: relative;
    padding: 0 22px 45px;
    margin-top: 40px;
    background-color: var(--theme-color2);
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    &:hover {
      .icon {
        transform: scaleX(-1);
        background-color: var(--theme-color1);
        color: var(--theme-color-light);
      }
    }
    .icon-box {
      margin-bottom: 30px;
      &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 17px;
        width: 93px;
        height: 58px;
        background-image: url(../images/icons/icon-border-4.png);
        @include media-breakpoint-down(md) {
          right: 17px;
          margin: 0 auto;
        }
      }
      .icon {
        position: relative;
        margin-top: -43px;
        display: inline-block;
        width: 80px;
        height: 80px;
        font-size: 46px;
        line-height: 80px;
        color: var(--theme-color1);
        box-shadow: 0 0 76px rgba(0, 0, 0, 0.06);
        background-color: var(--theme-color-light);
        text-align: center;
        @include transition(all 300ms ease);
      }
    }
    .count {
      position: absolute;
      top: 25px;
      right: 10px;
      font-size: 60px;
      font-weight: 700;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #d3d3d6;
    }
    .title {
      position: relative;
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: 700;
      &::before {
        content: '';
        position: absolute;
        bottom: -23px;
        left: 0;
        width: 81px;
        height: 6px;
        background-color: var(--theme-color1);
        transform: skewX(-25deg);
        @include media-breakpoint-down(md) {
          right: 0;
          margin: 0 auto;
        }
      }
    }
    .text {
      font-size: 14px;
      line-height: 1.8em;
    }
  }
}
